<div class="container-fluid mt-1 mt-md-5">
    <div class="row justify-content-md-center">
        <div class="col-md-8 push-md-2 col-xl-6 push-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title text-xs-center">
                        {{#logourl}}
                            <h2 class="text-center"><img src="{{logourl}}" title="{{sitename}}" alt="{{sitename}}"/></h2>
                        {{/logourl}}
                        {{^logourl}}
							<h2 class="text-center" ><img src="{{logourl}}" title="{{sitename}}" alt="{{sitename}}"/></h2>
                        {{/logourl}}
                        <hr>
                    </div>
					{{#error}}
                        <div class="alert alert-danger" role="alert">
                            {{{error}}}
                        </div>
                    {{/error}}
                     <div class="row justify-content-md-center">
                        {{{formhtml}}}
                    </div>					
                </div>
            </div>
        </div>
    </div>
</div>